.content-list1-wrapper {
  display: contents;
}
.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  padding-right: 374px;
  flex-direction: column;
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-ul {
  width: 100%;
  align-items: flex-start;
}
.services-fragment12 {
  display: contents;
}
.services-text20 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment14 {
  display: contents;
}
.services-text22 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment17 {
  display: contents;
}
.services-text25 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment19 {
  display: contents;
}
.services-text27 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment16 {
  display: contents;
}
.services-text24 {
  color: #000000;
  display: inline-block;
  align-self: flex-start;
  font-family: "Inter";
}
.services-fragment15 {
  display: contents;
}
.services-text23 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment18 {
  display: contents;
}
.services-text26 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment20 {
  display: contents;
}
.services-text28 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment21 {
  display: contents;
}
.services-text29 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment13 {
  display: contents;
}
.services-text21 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment11 {
  display: contents;
}
.services-text19 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment10 {
  display: contents;
}
.services-text18 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.content-list1root-class-name {
  background-color: #dbbd11ff;
}

.stats10-wrapper {
  display: contents;
}
.stats10-container1 {
  border-color: #dbbd11ff;
  border-width: 1px;
}
.stats10-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.stats10-container2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.stats10-container3 {
  width: 100%;
  z-index: 100;
}
.stats10-container4 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.stats10-container5 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.stats10-container6 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.services-fragment27 {
  display: contents;
}
.services-text35 {
  display: inline-block;
}
.services-fragment32 {
  display: contents;
}
.services-text40 {
  display: inline-block;
  text-align: center;
}
.services-fragment30 {
  display: contents;
}
.services-text38 {
  display: inline-block;
  text-align: center;
}
.services-fragment26 {
  display: contents;
}
.services-text34 {
  display: inline-block;
  text-align: center;
}
.services-fragment24 {
  display: contents;
}
.services-text32 {
  display: inline-block;
}
.services-fragment25 {
  display: contents;
}
.services-text33 {
  display: inline-block;
  text-align: center;
}
.services-fragment23 {
  display: contents;
}
.services-text31 {
  display: inline-block;
}
.services-fragment29 {
  display: contents;
}
.services-text37 {
  display: inline-block;
}
.services-fragment28 {
  display: contents;
}
.services-text36 {
  display: inline-block;
}
.services-fragment22 {
  display: contents;
}
.services-text30 {
  display: inline-block;
}
.services-fragment31 {
  display: contents;
}
.services-text39 {
  display: inline-block;
  text-align: center;
}
.stats10root-class-name {
  background-color: #dbbd11ff;
}
@media(max-width: 767px) {
  .stats10-container4 {
    align-self: flex-start;
  }
  .stats10-container5 {
    align-self: flex-start;
  }
  .stats10-container6 {
    align-self: flex-start;
  }
  .services-text34 {
    text-align: center;
  }
  .services-text32 {
    align-self: center;
  }
  .services-text31 {
    align-self: center;
  }
  .services-text30 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .services-text34 {
    align-self: center;
    text-align: center;
  }
}

.services-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.services-header1 {
  width: 100%;
  height: 0px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 4px;
  flex-direction: column;
  background-color: #000000;
}
.services-header2 {
  width: 100%;
  height: 134px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.services-navbar-interactive {
  width: 100%;
  display: flex;
  position: sticky;
  max-width: 75%;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.services-logo1 {
  color: rgba(255, 255, 255, 0.66);
  font-size: 2em;
  transition: 0.3s;
  font-family: "Inter";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.services-logo1:hover {
  color: var(--dl-color-theme-primary2);
}
.services-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.services-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.services-nav11 {
  fill: rgba(49, 40, 27, 0.66);
  color: rgba(255, 255, 255, 0.66);
  font-size: 22px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.services-nav11:hover {
  color: var(--dl-color-theme-primary2);
}
.services-nav21 {
  fill: rgba(49, 40, 27, 0.66);
  color: rgba(255, 255, 255, 0.66);
  font-size: 22px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-nav21:hover {
  color: var(--dl-color-theme-primary2);
}
.services-nav51 {
  fill: rgba(49, 40, 27, 0.66);
  color: rgba(255, 255, 255, 0.66);
  font-size: 22px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-nav51:hover {
  color: var(--dl-color-theme-primary2);
}
.services-nav52 {
  fill: rgba(49, 40, 27, 0.66);
  color: rgba(255, 255, 255, 0.66);
  font-size: 22px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-nav52:hover {
  color: var(--dl-color-theme-primary2);
}
.services-buttons1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.services-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.services-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.services-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.services-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.services-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.services-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.services-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.services-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.services-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.services-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.services-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.services-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.services-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.services-burger-menu {
  display: none;
}
.services-icon10 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.services-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.services-nav6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.services-logo2 {
  font-size: 2em;
  font-weight: bold;
}
.services-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-icon12 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.services-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.services-nav12 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.services-nav22 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.services-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.services-nav4 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.services-nav53 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.services-buttons2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.services-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.services-register:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.services-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.services-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.services-hero1 {
  width: 100%;
  height: 716px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.services-hero2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.services-hero3 {
  width: 1647px;
  height: 405px;
  display: flex;
  max-width: 100%;
  min-height: auto;
  align-items: center;
  padding-top: 128px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.services-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 800;
  margin-right: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-halfunit);
  animation-name: slideOutLeft;
  text-transform: capitalize;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.services-hero-sub-heading {
  fill: var(--dl-color-theme-secondary2);
  color: rgba(255, 255, 255, 0.66);
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-weight: 100;
  line-height: 1.6;
  padding-right: var(--dl-space-space-fiveunits);
  animation-name: slideOutLeft;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.services-image {
  width: 50%;
  height: 448px;
  object-fit: cover;
  animation-name: pulse;
  animation-delay: 0.45s;
  animation-duration: 300ms;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.services-fragment10 {
  display: contents;
}
.services-text18 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment11 {
  display: contents;
}
.services-text19 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment12 {
  display: contents;
}
.services-text20 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment13 {
  display: contents;
}
.services-text21 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment14 {
  display: contents;
}
.services-text22 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment15 {
  display: contents;
}
.services-text23 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment16 {
  display: contents;
}
.services-text24 {
  color: #000000;
  display: inline-block;
  align-self: flex-start;
  font-family: "Inter";
}
.services-fragment17 {
  display: contents;
}
.services-text25 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment18 {
  display: contents;
}
.services-text26 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment19 {
  display: contents;
}
.services-text27 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment20 {
  display: contents;
}
.services-text28 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment21 {
  display: contents;
}
.services-text29 {
  color: #000000;
  display: inline-block;
  font-family: "Inter";
}
.services-fragment22 {
  display: contents;
}
.services-text30 {
  display: inline-block;
}
.services-fragment23 {
  display: contents;
}
.services-text31 {
  display: inline-block;
}
.services-fragment24 {
  display: contents;
}
.services-text32 {
  display: inline-block;
}
.services-fragment25 {
  display: contents;
}
.services-text33 {
  display: inline-block;
  text-align: center;
}
.services-fragment26 {
  display: contents;
}
.services-text34 {
  display: inline-block;
  text-align: center;
}
.services-fragment27 {
  display: contents;
}
.services-text35 {
  display: inline-block;
}
.services-fragment28 {
  display: contents;
}
.services-text36 {
  display: inline-block;
}
.services-fragment29 {
  display: contents;
}
.services-text37 {
  display: inline-block;
}
.services-fragment30 {
  display: contents;
}
.services-text38 {
  display: inline-block;
  text-align: center;
}
.services-fragment31 {
  display: contents;
}
.services-text39 {
  display: inline-block;
  text-align: center;
}
.services-fragment32 {
  display: contents;
}
.services-text40 {
  display: inline-block;
  text-align: center;
}
.services-footer1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.services-footer2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.services-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.services-logo3 {
  color: #000000;
  z-index: 100;
  font-size: 2em;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
}
.services-logo3:hover {
  background: #d06936;
}
.services-nav7 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.services-nav13 {
  color: #000000;
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.services-nav13:hover {
  background: #d06936;
}
.services-nav23 {
  color: #000000;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-nav23:hover {
  background: #d06936;
}
.services-nav54 {
  color: #000000;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-nav54:hover {
  background: #d06936;
}
.services-nav55 {
  color: rgb(0, 0, 0);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-nav55:hover {
  background: #d06936;
}
.services-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.services-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-link {
  color: var(--dl-color-secondary-gray500);
  text-decoration: none;
}
.services-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.services-icon20 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.services-icon22 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.services-icon24 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
}
@media(max-width: 2560px) {
  .services-hero1 {
    background-position: center;
  }
  .services-hero2 {
    background-position: center;
  }
}
@media(max-width: 991px) {
  .services-hero3 {
    flex-direction: column;
  }
  .services-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .services-text14 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .services-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-desktop-menu {
    display: none;
  }
  .services-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-nav22 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-nav53 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .services-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .services-text30 {
    align-self: center;
  }
  .services-text31 {
    align-self: center;
  }
  .services-text32 {
    align-self: center;
  }
  .services-text34 {
    text-align: center;
  }
  .services-footer2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-link {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .services-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .services-logo1 {
    font-size: 1.5em;
  }
  .services-mobile-menu {
    padding: 16px;
  }
  .services-logo2 {
    font-size: 1.5em;
  }
  .services-icon12 {
    fill: var(--dl-color-gray-900);
  }
  .services-hero3 {
    width: 408px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-text13 {
    font-size: 70px;
  }
  .services-text34 {
    align-self: center;
    text-align: center;
  }
  .services-footer2 {
    padding: var(--dl-space-space-unit);
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-link {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
