.content-list62-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list62-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: row;
}
.content-list62-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.content-list62-container3 {
  width: auto;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.content-list62-container4 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list62-ul1 {
  align-items: flex-start;
}
.content-list62-li10 {
  align-items: flex-start;
}
.content-list62-ul2 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list62-container5 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list62-li13 {
  align-items: flex-start;
}
.content-list62-ul4 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list62-container6 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list62-ul5 {
  align-items: flex-start;
}
.content-list62-li19 {
  align-items: flex-start;
}
.content-list62-ul6 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list62-fragment10 {
  display: contents;
}
.content-list62-text16 {
  display: inline-block;
}
.content-list62-fragment11 {
  display: contents;
}
.content-list62-text17 {
  display: inline-block;
}
.content-list62-fragment12 {
  display: contents;
}
.content-list62-text18 {
  display: inline-block;
}
.content-list62-fragment13 {
  display: contents;
}
.content-list62-text19 {
  display: inline-block;
}
.content-list62-fragment14 {
  display: contents;
}
.content-list62-text20 {
  display: inline-block;
}
.content-list62-fragment15 {
  display: contents;
}
.content-list62-text21 {
  display: inline-block;
}
.content-list62-fragment16 {
  display: contents;
}
.content-list62-text22 {
  display: inline-block;
}
.content-list62-fragment17 {
  display: contents;
}
.content-list62-text23 {
  display: inline-block;
}
.content-list62-fragment18 {
  display: contents;
}
.content-list62-text24 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.content-list62-fragment19 {
  display: contents;
}
.content-list62-text25 {
  display: inline-block;
}
.content-list62-fragment20 {
  display: contents;
}
.content-list62-text26 {
  display: inline-block;
}
.content-list62-fragment21 {
  display: contents;
}
.content-list62-text27 {
  display: inline-block;
}
.content-list62-fragment22 {
  display: contents;
}
.content-list62-text28 {
  display: inline-block;
}
.content-list62-fragment23 {
  display: contents;
}
.content-list62-text29 {
  display: inline-block;
}
.content-list62-fragment24 {
  display: contents;
}
.content-list62-text30 {
  display: inline-block;
}
.content-list62-fragment25 {
  display: contents;
}
.content-list62-text31 {
  display: inline-block;
}
.content-list62-fragment26 {
  display: contents;
}
.content-list62-text32 {
  display: inline-block;
}
.content-list62-fragment27 {
  display: contents;
}
.content-list62-text33 {
  display: inline-block;
}
.content-list62-fragment28 {
  display: contents;
}
.content-list62-text34 {
  display: inline-block;
}
.content-list62-fragment29 {
  display: contents;
}
.content-list62-text35 {
  display: inline-block;
}
.content-list62-fragment30 {
  display: contents;
}
.content-list62-text36 {
  display: inline-block;
}
.content-list62-fragment31 {
  display: contents;
}
.content-list62-text37 {
  display: inline-block;
}
.content-list62-fragment32 {
  display: contents;
}
.content-list62-text38 {
  display: inline-block;
}
.content-list62-fragment33 {
  display: contents;
}
.content-list62-text39 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.content-list62-fragment34 {
  display: contents;
}
.content-list62-text40 {
  display: inline-block;
}
.content-list62-fragment35 {
  display: contents;
}
.content-list62-text41 {
  display: inline-block;
}
.content-list62-fragment36 {
  display: contents;
}
.content-list62-text42 {
  display: inline-block;
}
.content-list62-fragment37 {
  display: contents;
}
.content-list62-text43 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
@media(max-width: 767px) {
  .content-list62-max-width {
    align-items: center;
    flex-direction: column;
  }
  .content-list62-container2 {
    align-self: center;
  }
  .content-list62-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .content-list62-ul2 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list62-ul4 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list62-ul6 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list62-max-width {
    flex-direction: column;
  }
  .content-list62-container2 {
    align-self: center;
  }
  .content-list62-ul2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list62-ul4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list62-ul6 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
