<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sparks ERP Consulting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/minimalist-black-white-festive-fireworks-icon-illustration-celebrations-events-vector-design-simplified-display-318628428.webp"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
    <style>
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./team211.css" rel="stylesheet" />
      <div class="team211-team8 thq-section-padding">
        <div class="team211-max-width thq-section-max-width">
          <div class="team211-section-title">
            <div class="team211-content1">
              <h2>
                <fragment class="team211-fragment23">
                  <animate-on-reveal
                    animation="lightSpeedOutLeft"
                    duration="300ms"
                    delay="0s"
                    direction="reverse"
                    easing="ease"
                    iteration="1"
                  >
                    <h2
                      data-thq-animate-on-reveal="true"
                      class="team211-text52 thq-heading-2"
                    >
                      Meet Our Expert Team
                    </h2>
                  </animate-on-reveal>
                </fragment>
              </h2>
              <p>
                <fragment class="team211-fragment22"></fragment>
              </p>
              <p class="team211-text45 thq-body-large">
                <span>
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </span>
                  <span></span>
                </span>
                <span>
                  <span></span>
                  <span></span>
                </span>
              </p>

              <p></p>
            </div>
          </div>
          <div class="team211-content2">
            <div class="team211-content3">
              <div class="team211-row1">
                <div class="team211-card1">
                  <img
                    alt="Image of John Doe"
                    src="https://images.unsplash.com/photo-1509399693673-755307bfc4e1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDEwNTE5NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600"
                    class="thq-img-ratio-1-1 team211-placeholder-image1"
                  />
                  <div class="team211-content4">
                    <div class="team211-title1">
                      <span>
                        <fragment class="team211-fragment11">
                          <span class="team211-text28 thq-body-small">
                            John Doe
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team211-fragment17">
                          <span class="team211-text34 thq-body-small">
                            SAP Consultant
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team211-fragment14">
                        <span class="team211-text31 thq-body-small">
                          John is a seasoned SAP consultant with over 10 years
                          of experience in implementing SAP solutions for
                          various industries.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team211-social-icons1">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="team211-icon1 thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="team211-card2">
                  <img
                    alt="Image of Jane Smith"
                    src="https://images.unsplash.com/photo-1509399693673-755307bfc4e1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDEwNTE5NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600"
                    class="thq-img-ratio-1-1 team211-placeholder-image2"
                  />
                  <div class="team211-content5">
                    <div class="team211-title2">
                      <span>
                        <fragment class="team211-fragment16">
                          <span class="team211-text33 thq-body-small">
                            Jane Smith
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team211-fragment12">
                          <span class="team211-text29 thq-body-small">
                            Senior SAP Architect
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team211-fragment10">
                        <span class="team211-text27 thq-body-small">
                          Jane is a senior SAP architect with a proven track
                          record of designing and optimizing SAP systems for
                          maximum efficiency.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team211-social-icons2">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="team211-icon3 thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="team211-row2">
                <div class="team211-card3">
                  <img
                    alt="Image of Emily Brown"
                    src="https://images.unsplash.com/photo-1509399693673-755307bfc4e1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDEwNTE5NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                    class="thq-img-ratio-1-1 team211-placeholder-image3"
                  />
                  <div class="team211-content6">
                    <div class="team211-title3">
                      <span>
                        <fragment class="team211-fragment15">
                          <span class="team211-text32 thq-body-small">
                            Emily Brown
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team211-fragment19">
                          <span class="team211-text42 thq-body-small">
                            SAP Integration Specialist
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team211-fragment24">
                        <span class="team211-text53 thq-body-small">
                          Emily specializes in integrating SAP systems with
                          existing IT infrastructure, ensuring smooth
                          operations.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team211-social-icons3">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="team211-icon5 thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="team211-card4">
                  <img
                    alt="Image of David Lee"
                    src="https://images.unsplash.com/photo-1509399693673-755307bfc4e1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDEwNTE5NHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=600"
                    class="thq-img-ratio-1-1 team211-placeholder-image4"
                  />
                  <div class="team211-content7">
                    <div class="team211-title4">
                      <span>
                        <fragment class="team211-fragment20">
                          <span class="team211-text43 thq-body-small">
                            David Lee
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team211-fragment26">
                          <span class="team211-text55 thq-body-small">
                            SAP Data Analyst
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team211-fragment25">
                        <span class="team211-text54 thq-body-small">
                          David is an expert in analyzing and interpreting data
                          within SAP systems to drive informed business
                          decisions.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team211-social-icons4">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="team211-icon7 thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="team211-content8">
              <div class="team211-content9">
                <h2>
                  <fragment class="team211-fragment21">
                    <h2 class="team211-text44 thq-heading-2">We’re hiring!</h2>
                  </fragment>
                </h2>
                <span>
                  <fragment class="team211-fragment18">
                    <span class="team211-text35 thq-body-small">
                      <span>
                        <span>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                        </span>
                        <span></span>
                      </span>
                      <span>
                        <span></span>
                        <span></span>
                      </span>
                    </span>
                  </fragment>
                </span>
              </div>
              <button class="team211-button thq-button-filled">
                <span>
                  <fragment class="team211-fragment13">
                    <span class="thq-body-small">Open positions</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
